<h2>TO DO LIST</h2>

<% @tasks.each do |task| %>
  <p> <%= task.name %>
  <%= link_to "Aller voir ma tâche", task_path(task) %></p>
<% end %>
<%= link_to "Ajouter une nouvelle tâche", new_task_path(@task) %>


